{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block dashboardActive %}active{% endblock dashboardActive %}
{% block body %}
<div class="container my-3">
    <h1>
        Dashboard
    </h1>
    <hr>
    {{request.user}}
    <hr>
    {% for userData in allData %}
    {{allData}}
    {% endfor %}
    <br>
    <hr>
    {% for userPost in allPost %}
    {{userPost}}
    {% endfor %}
    <hr>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>@{{user.password}}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock body %}