{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="container">
    <div class="container" style="background-color: black;height: 200px;width: auto;">

    </div>
    <img src="/static/img/user.jpg" alt="" style="height: 100px;width: 100px;border-radius: 50%;margin: 10px;">
    {{user.username}}
    <br>
    <div class="container">
        {{user.email}}
    </div>
    <hr>
    {% if post %}
    <div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="author/{{post.author}}/">{{post.author}}</a></p>
        <p>{{post.content}}</p>
    </div>
    {% else %}
    <h3>No Posts available</h3>
    {% endif %}
</div>

{% endblock body %}